<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estiloscon.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li ><a href="/experience">Experiencias</a>
                    
                </li>
            </ul>
            <ul>
                <li>
                 <a href="/studies">Estudios</a>
                </li>
            </ul>
            <ul>
                <li>
                  <a href="/contacto">Contacto</a>
                </li>
            </ul>
            <ul>
                <li>
                  <a href="/">Inicio</a>
                </li>
            </ul>
        </nav>
    </header>
   <div class="formulario-container">
    <form method="GET" action="/login-usuario/?" class="formulario">
        <h3>Contacto</h3> <br>
        <div class="details">
        <label for="nombre">Nombre</label> <br>
        <input  name="usuario" id="usuario" type="text" required> <br>  <br>
        <label for="mensaje">Mensaje</label> <br>
        <input type="textarea" name="password" id="password" required>
        <button>Adelante</button>
    </div>
    </form>
</div>
</body>
</html>