<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilosexp.css">
</head>
<header>
    <nav>
        <ul>
            <li ><a href="/experience">Experiencias</a>
                
            </li>
        </ul>
        <ul>
            <li>
             <a href="/studies">Estudios</a>
            </li>
        </ul>
        <ul>
            <li>
              <a href="/contacto">Contacto</a>
            </li>
        </ul>
        <ul>
            <li>
              <a href="/">Inicio</a>
            </li>
        </ul>
    </nav>
</header>
<div class="container-exp">
<h3> Experiencias</h3> <br>
<div class="details-exp">
    <p>Practicante de desarrollo de sofware en One-Click (2019-2020)</p><br>
    <p>Desarrollador de sofware en Bictia (2021-2022)</p> <br>
    <p>Desarrollador de sofware en Microsoft Colombia (2023-2026)</p> <br>
    <p>Practicante de desarrollo de sofware en One-Click (2019-2020)</p><br>
    <p>Desarrollador de sofware en Bictia (2021-2022)</p><br>
    <p>Desarrollador de sofware en Microsoft Colombia (2023-2026)</p> <br>
    <p>Practicante de desarrollo de sofware en One-Click (2019-2020)</p> <br>
    <p>Desarrollador de sofware en Bictia (2021-2022)</p> <br>
    <p>Desarrollador de sofware en Microsoft Colombia (2023-2026)</p> <br>
</div>
</div>
<body>
    
</body>
</html>