<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li ><a href="/experience">Experiencias</a>
                    
                </li>
            </ul>
            <ul>
                <li>
                 <a href="/studies">Estudios</a>
                </li>
            </ul>
            <ul>
                <li>
                  <a href="/contacto">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Hoja de vida</h1>
    <div class="container-index">
    <img src="/images/yo.jpg" alt="" srcset="" width="400px" height="300px">
    <div class="details">
    <h2>Eliseo León Páez</h2>
    <p>Soy una persona amable, paciente y comunicativa. Tengo muy buenas relaciones interpersonales
         y aprendo rápidamente. Como profesional, siempre estoy a la vanguardia de las tendencias en mi campo
          y doy gran importancia a la innovación y el detalle. Tengo experiencia en múltiples áreas de mi ámbito laboral;
         busco vincularme a una empresa que valore la creatividad y permita a sus trabajadores crecer en el campo laboral.
    </p>
</div>
</div>

</body>
</html>