<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estiloses.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li ><a href="/experience">Experiencias</a>
                    
                </li>
            </ul>
            <ul>
                <li>
                 <a href="/studies">Estudios</a>
                </li>
            </ul>
            <ul>
                <li>
                  <a href="/contacto">Contacto</a>
                </li>
            </ul>
            <ul>
                <li>
                  <a href="/">Inicio</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-es">
    <h3> Estudios</h3>
    <br>
    <p>Bachiller academico Colegio minuto de Dios</p> <br>
    <p>Ingenieria de sistemas - Universidad Nacional Abierta y a Distancia 2017</p> <br>
    <p>Ingenieria de sistemas - Universidad Unipanamericana 2018</p> <br>
    <p>Tecnico en programacion de software - Sena 2019</p> <br>
    <p>Programador fullstack - Bictia 2020</p> <br>
    <p>Diplomado en ciencia de los datos Universidad de los Andes 2021</p> <br>
</div>
</body>
</html>